$light-color:#f4f4f4;
$fontfamily: 'Roboto', sans-serif;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: $light-color;
    font-family: $fontfamily;
    line-height: 1.5;
}